* {
    font-family: 'Quicksand', sans-serif;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
caption {
    font-weight: 600;
    font-size: 20px;
    margin: 5px 0;
}